node_modules/
dist/
src-tauri/target/
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json
*.log
coverage/
test-results/
playwright-report/
.DS_Store
*.key
/src-tauri/tauri.release-updater.conf.json
